*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  margin: 1rem;
}

.back-home-container {
  margin-left: 1rem;
}

.back-home:hover {
  cursor: pointer;
}

.details-container {
  display: flex;
}

.details-left,
.details-right {
  flex: 20%;
  max-width: 20%;
  margin: 1rem;
}

.details-mid {
  flex: 60%;
  max-width: 60%;
  margin: 1rem;
}

.poster {
  max-width: 100%;
  min-height: 250px;
}

.bold {
  font-weight: bold;
}

.plot,
.trailer {
  margin-top: 1rem !important;
}

.youtube-video {
  width: stretch;
}

.artist {
  margin: 1rem 0 1rem 0 !important;
}

@media screen and (max-width: 800px) {
  .details-container {
    flex-direction: column;
  }

  .details-left,
  .details-mid,
  .details-right {
    flex: 100%;
    max-width: 100%;
    margin: 0.2rem;
  }

  .details-left {
    display: flex;
    justify-content: center;
  }
}
