.header {
  background-color: #222;
  height: 36px;
  padding: 8px 32px 8px 16px;
  /* display: flex; */
}

#logo {
  background-color: #ff7f7f;
  height: 35px;
  float: left;
  animation: rotate-logo 7s linear infinite;
}

.nav-btn {
  float: right;
}

/* The animation code */
@keyframes rotate-logo {
  from {
    transform: rotateY(0);
  }
  to {
    transform: rotateY(360deg);
  }
}
