.header {
  background-color: #222;
  height: 36px;
  padding: 8px 32px 8px 16px;
}

#logo {
  background-color: #ff7f7f;
  height: 35px;
  float: left;
  animation: rotate-logo 7s linear infinite;
}

.nav-btn {
  float: right;
  margin-right: 4px !important;
}

/* The animation code */
@keyframes rotate-logo {
  from {
    transform: rotateY(0);
  }
  to {
    transform: rotateY(360deg);
  }
}

.dispNone {
  display: none !important;
}
.dispBlock {
  display: block !important;
}
.red {
  color: red;
}