.header {
  background-color: #222;
  height: 3rem;
  padding: 0.4rem;
}

#logo {
  background-color: #ff7f7f;
  height: 2.2rem;
  float: left;
  animation: rotate-logo 7s linear infinite;
  -webkit-animation: rotate-logo 7s linear infinite;
}

.nav-btn {
  float: right;
  margin-right: 0.25rem !important;
}

/* The animation code */
@keyframes rotate-logo {
  from {
    -webkit-transform: rotateY(0);
    transform: rotateY(0);
  }
  to {
    -webkit-transform: rotateY(360deg);
    transform: rotateY(360deg);
  }
}

@-webkit-keyframes rotate-logo {
  from {
    -webkit-transform: rotateY(0);
    transform: rotateY(0);
  }
  to {
    -webkit-transform: rotateY(360deg);
    transform: rotateY(360deg);
  }
}

.dispNone {
  display: none !important;
}
.dispBlock {
  display: block !important;
}
.red {
  color: red;
}
